html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#carouselExampleIndicators img {
  height: 500px;
}

#footer-area {
  margin-top: auto;
}

/* Media Query */
@media (max-width: 756px) {
  .g-map {
    margin-top: 1rem;
  }
}